<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>Jk4Ya7+HAgd6juf+RLWTFdc6dMRt28LK9mYRuCdivQIIma5LoLs7FZhQ1ylqANgASlwpejOJX54ZsskaYnIWdg+SUNJ7NC3Z9MtmmgRoFKzo6msPQpIYQ4JN6bscIGBYns7pzZ6+0uUziTpnYDlZYOa8C7ZH+KimDgvnW7J8LEhpvwbSPhwZ7f/UzWdW0zuSVPcsQgGiyFha1oIl2gOlwSEbjpkqFdQZ6Haz7HxjoB0AdWdQGc5ClsPW8yKKDTwmbiU0lJvgPoqgJzkaCpR0vY+Lj32m7qKAzl36PiX/+5qZ0u1kHmdXJpQyM0Os7w1w518RZlAC+DXfKV9rjwUMpg==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>yOkk5HxpYlcuMaSTNRWqA0/Y3tHTlf1BTtMEiB7vsPfb5uKBIFxxLfGzslBtY6KCuLp1a0HduchnYSUNw/ttz079BlPpb0PozbrBU0Lw46yk0+QnjyGVMU6Z3SfDw/AefBGgvhlW+F7bWkYr6d0jC9ArshZPd0t6u0Xnf7NN+pge6XL/PEYIzdgq0MH+jD1Qq8RgIGhmlfkoPbwCO89qj2BaHCWvia+VejhanaXBE41CEdr6Lgb4dcMAcsoiXp+yOXNpxD7+M5AYsQp1KfQJhOlTphnQDp6dT9J/cYn1M+I=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="${AppData}/SGPET/Logs/SGPET-%date{yyyy-MM-dd_HH-mm-ss-fff}.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="PlaylistFooter" value="[PlaylistFooter]\r\n" />
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="Warn" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>
